<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
</head>
<body>
Hello SpringBootDemo
<script type="text/javascript">
    $(function () {
        $.ajax({
            async: true,
            url: 'selectTest',
            data: {
                "ID_": "1",
                'pwd': hex_md5('tangliang1997')
            },
            dataType: "json",
            method: 'POST',
            success: function (data) {
                console.log(data.result)
            },
            error: function (data) {
                alert(data.result);
            }
        });
        //
        // $.ajax({
        //     async: true,
        //     url: 'insertTest',
        //     data: {},
        //     dataType: "json",
        //     method: 'POST',
        //     success: function (data) {
        //         console.log(data.result)
        //     },
        //     error: function (data) {
        //         alert(data.result);
        //     }
        // });


        // $.ajax({
        //     async: true,
        //     url: 'selectExcel',
        //     data: {},
        //     dataType: "json",
        //     method: 'POST',
        //     success: function (data) {
        //         console.log(data.result)
        //     },
        //     error: function (data) {
        //         alert(data.result);
        //     }
        // });
        //
        // $.ajax({
        //     async: true,
        //     url: 'selectExcelNoModel',
        //     data: {},
        //     dataType: "json",
        //     method: 'POST',
        //     success: function (data) {
        //         console.log(data.result)
        //     },
        //     error: function (data) {
        //         alert(data.result);
        //     }
        // });
    });
</script>
</body>
</html>